@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
:root{
    --bg-grey: #e5e4e7;
    --color-letter-1: #696767;
    --bg-blue: #001c40;
    --bg-cyan: #3080e9;
    --bg-yellow-hover:#fab005;
    --bg-yellow:#ffbe26;

    --color-lila:#c5249d;
    --color-blue:#192a56;
    --color-light-blue:#273c75;
    --color-light-grey:#f5f6fa;
    --color-grey:#dcdde1;
    --color-ligth-dark:#353b48;
    --color-dark:#2f3640;
    --size:15px;
    --size-small:13px;
    --font-poppins:"Poppins",sans-serif;
    --font-odibee:'Odibee Sans', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    text-decoration: none;
}
.head
{
    position:relative;
    width:100%;
    height: 85px;
    background: var(--color-light-grey);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10%;
    box-shadow: 0 15px 10px rgba(168, 162, 162, 0.5);
    z-index: 101;
}
.logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.head .logo img{
    position:relative;
    width:55px;
    height:55px;
}
.head .logo label{
    position:relative;
    color: var(--color-letter-1);
    font-family: var(--font-odibee);
    font-size: 3em; 
    font-weight: 500; 
    cursor:pointer;
}
.usuario{
    position: relative;
    font-size: 30px;
    cursor:pointer;
}
.usuario:hover{
    color:var(--color-light-blue);
}
.usuario:before{
    position: absolute;
    content: "Mi cuenta";
    top: 7px;
    left: -8em;
    padding: 5px 13px;
    background: var(--color-light-blue);
    color:white;
    font-size: var(--size-small);
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.usuario:after{
    position: absolute;
    content: "";
    top: 14px;
    left: -1.2em;
    width: 0; 
    height: 0;
    font-size: var(--size-small);
    opacity: 0;
    transition: all 0.3s;
    border-left: 10px solid var(--color-light-blue);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
}
.usuario:hover:after{
    opacity: 1;
    left: -1.5em;
}
.usuario:hover:before{
    opacity: 1;
    z-index: 100;
    left: -8.4em;
}
ol.menu{
    position: absolute;
    right: 9.7%;
    top: 70px;
    width: 14em;
    height: 0;
    font-size:var(--size);
    color:var(--color-blue);
    background: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    list-style: none;
    overflow:hidden;
}
ol.menu.active{
    height: 11.2em;
    display: flex;
    flex-direction: column;
    border:2px solid var(--color-light-blue);
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    overflow:visible;
}
ol.menu.active:before{
    content:'';
    position: absolute;
    opacity: 1;  
    right: 7px;
    top: -7px;
    background: var(--color-light-blue);
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate();
    -moz-transform: rotate();
    -ms-transform: rotate();
    -o-transform: rotate();
    z-index: -1;
}
ol.menu li{
    position: relative;
    padding: 5px 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
ol.menu li:hover{
    background: var(--color-light-blue);
    color:white;
}
ol.menu li i{
    width: 20px;
}
.cuerpo{
    position: relative;
    width: 100%;
    height: calc(100vh - 85px);
    background: white;
    padding: 20px 0;
    font-size: var(--size);
    display: flex;
    align-items: center;
    flex-direction: column;

}
.buscador{
    position: relative;
    width: 20em;
    height: 2em;
    display: flex;
    gap:10px;
    padding: 10px 20px;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-blue);
    border-radius:3em;
    font-size:25px;
    -webkit-border-radius:3em;
    -moz-border-radius:3em;
    -ms-border-radius:3em;
    -o-border-radius:3em;
}
.buscador .campo{
    width: 90%;
    border:none;
    padding: 10px;
}
.buscador .campo:focus{
    outline: none;
}
.buscador .x{
    font-size: 19px;
    cursor:pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.buscador .x:hover{
    color:red;
    cursor:pointer;
}
ul.categorias{
    display:flex;
    list-style: none;
    margin: 20px;
}
ul.categorias li{
    position: relative;
    border: 2px solid var(--color-grey);
    padding: 10px;
    cursor:pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    width: 8em;
    text-align: center;
}
ul.categorias li:hover{
    border: 2px solid var(--color-blue);
}
ul.categorias li:first-child{
    border-radius:10px 0 0 10px;
    -webkit-border-radius:10px 0 0 10px;
    -moz-border-radius:10px 0 0 10px;
    -ms-border-radius:10px 0 0 10px;
    -o-border-radius:10px 0 0 10px;
}
ul.categorias li:last-child{
    border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    -ms-border-radius:0 10px 10px 0;
    -o-border-radius:0 10px 10px 0;
}
ul.categorias li:hover:before{
    content:var(--text);
    position: absolute;
    opacity: 1;
    top: -38px;
    left:0;
    right: 0;
    background: var(--color-blue);
    padding: 3px 18px ;
    color:white;
    z-index: 100;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    font-size: var(--size-small);
}
ul.categorias li:hover:after{
    content:'';
    position: absolute;
    top: -20px;
    left: 45%;
    background: var(--color-blue);
    padding: 6px;
    color:white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.container-proveedores{
    width: 100%;
    background: var(--color-grey);
    margin: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:20px;
    align-items: center;
    padding: 40px 60px;
}
.proveedor{
    position: relative;
    width: 12%;
    height: 14vw;
    min-width:12em;
    min-height: 16em;
    background:white;
    background-size: cover;
    background-position: left;
    padding:30px 20px;
    display: grid;
    place-items: center;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    text-align: center;
}
.proveedor:hover{
    outline:2px solid var(--bg-cyan);
    box-shadow: 0 0 20px var(--bg-cyan);
}
.proveedor img{
    width: 90px;
    height: 90px;
}
.proveedor h3{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color:var(--color-light-blue);
}
.proveedor a{
    padding:  4px 10px;
    background: var(--color-lila);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    color:white;
    margin-top: 15px;
}
.proveedor:hover {
    background: var(--color-light-blue);
}
.proveedor:hover h3{
    color:white;
}
.aviso{
    padding: 20px;
    display: grid;
    place-items: center;
    grid-gap:20px;
}
.aviso img{
    width: 200px;
    height: 200px;
}
.aviso span{
    color:red;
}

.fondo{
    position: fixed;
    top: 0;
    left: 0;
    display:none;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}
.fondo.active{
    display: grid;
    place-items: center;
}
.fondo .container-iframe{
    position: relative;
    width: 90%;
    max-width: 70em;
    height: 25vw;
    min-height: 25em;
    background: white;
    z-index: 1001;
    padding: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.fondo .container-iframe .cerrar{
    position: absolute;
    padding: 2px 10px;
    z-index: 1002;
    top: 10px;
    right: 13px;
    cursor:pointer;
    background: rgba(145, 202, 212, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fondo .container-iframe iframe{
    width: 100%;
    height: 100%;
}