@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family: "Poppins",sans-serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
    color:white;
}
:root{
    --letter-main: 2.5em;
    --letter-master: 1.5em;
    --letter-normal: 1em;
    --color-letter:white;
    --color-background:#172027;
}
.body{
    width:100%;
    min-height:100vh;
    display:flex;
    overflow: hidden;
}
.menu-barra{
    width:16em;
    padding:0;
    height:100vh;
    background-color:var(--color-background);
    display:flex;
    flex-direction:column;
    gap:1em;
    transition: all 0.3s;
    position:relative;
    z-index: 100;
}
.menu-barra.oculto{
    width: 4em;
}
.menu-barra .con-bar{
    margin-top: 1em;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-barra .con-bar .bar{
    border-radius: 5px;
    height: 2em;
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu-barra .con-bar .bar.desactive{
    margin: 0 auto;
}
.menu-barra .con-bar .bar i{
    margin-right:10px;
    padding: 10px;
    border-radius:5px;
    transition: all 0.5s;
}
.menu-barra .con-bar .bar i.desactive{
    margin:0 auto;
}
.menu-barra .con-bar .bar i:hover{
    background:#131b22;
}
a{
    text-decoration: none;
}
i{
    font-size:22px;
}
.menu-barra .logo{
    width:100%;
    height:2em;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    overflow: hidden;
    margin:0 auto;
    position: relative;
    z-index: 100;
}
.menu-barra .logo img{
    width:30px;
    height:33px;
}
.menu-barra .logo #ie{
    display: block;
    transition:0.5s;
    overflow: hidden;
    cursor:pointer;
}
.menu-barra .logo #ie.desactive{
    width:0;
    transition: 0.5s;
    display:none;  
 
}
.menu-barra .opciones{
    width:90%; /* 4.5em */
    margin:0 auto;
    margin-top:2em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1.5em;
    overflow: hidden;
}
.menu-barra .opciones .opcion{
    display:flex;
    align-items: center;
    gap:5px;
    width:90%; /* 3em */
    padding: 10px 0;
    border-radius: 5px;
    transition: all 0.5s;
}
.menu-barra .opciones .opcion:hover{
    background-color: #323941;
}
.menu-barra .opciones .opcion span{
    width:3em;
    height:100%;
    display:grid;
    place-items: center;
}
.menu-barra .opciones .opcion .letra{
    width:70%; 
    height:100%;
    display:grid; /* grid */
    font-size:var(--letter-normal);
}
.menu-barra .opciones .opcion .letra.oculto{
    width:0;
    display:none;
}
.menu-barra .usuario{
    background:#131b22;
    position: absolute;
    bottom: 0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2px;
}
.menu-barra .usuario .datos{
    width:80%;
    height:4em;
    display: flex;
    padding-left:5px ;
    align-items: center;
    gap:3px;
}
.menu-barra .usuario .datos.oculto{
    width:0;
    display: none;
}
.menu-barra .usuario .datos img{
    height:33px;
    width:33px;
}
.menu-barra .usuario .datos label{
    font-size:13px;
    display:flex;
    align-items: center;
    height:5em;
    width:10em;
    overflow: hidden;
}
.menu-barra .usuario .salir{
    position: relative;
    z-index: 100;
    width:20%;
    height:4em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.menu-barra .usuario .salir:hover{
    background: #1e2a35;
}
.menu-barra .usuario .salir.solo{
    width: 100%;
}
.menu-barra .usuario .salir span{
    padding: 5px;
    border-radius: 5px;

}
iframe{
    background-color:#323941;
    width:100%;
}