@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
:root{
    --bg-grey: #e5e4e7;
    --color-letter-1: #696767;
    --bg-blue: #001c40;
    --bg-cyan: #3080e9;
    --bg-yellow-hover:#fab005;
    --bg-yellow:#ffbe26;

    --color-lila:#c5249d;
    --color-blue:#192a56;
    --color-light-blue:#273c75;
    --color-light-grey:#f5f6fa;
    --color-grey:#dcdde1;
    --color-ligth-dark:#353b48;
    --color-dark:#2f3640;
    --size:15px;
    --size-small:13px;
    --size-small2:12px;
    --font-poppins:"Poppins",sans-serif;
    --font-odibee:'Odibee Sans', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;;
    text-decoration: none;
}
.head
{
    position:
    relative;
    width:100%;
    height: 85px;
    background: var(--bg-cyan);
    display:
    flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10%;
    box-shadow: 0 15px 10px rgba(168, 162, 162, 0.5);
    z-index: 101;
}
.logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.head .logo label{
    position:relative;
    color: white;
    font-family: var(--font-odibee);
    font-size: 3em; 
    font-weight: 500; 
    cursor:pointer;
}
.usuario{
    position: relative;
    font-size: 30px;
    cursor:pointer;
    color:white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.usuario:hover{
    color:var(--color-grey);
}
.usuario:before{
    position: absolute;
    content: "Mi cuenta";
    top: 7px;
    left: -8em;
    padding: 5px 13px;
    background: white;
    color:var(--bg-cyan);
    font-size: var(--size-small);
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.usuario:after{
    position: absolute;
    content: "";
    top: 13px;
    left: -1.7em;
    width: 0; 
    height: 0;
    font-size: var(--size-small);
    opacity: 0;
    transition: all 0.3s;
    border-left: 10px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
}
.usuario:hover:after{
    opacity: 1;
    left: -2em;
}
.usuario:hover:before{
    opacity: 1;
    z-index: 100;
    left: -8.4em;
}
ol.menu{
    position: absolute;
    right: 9.7%;
    top: 70px;
    width: 14em;
    height: 0;
    font-size:var(--size);
    color:var(--color-blue);
    background: white;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    list-style: none;
    overflow:hidden;
}
ol.menu.active{
    height: 10.2em;
    display: flex;
    flex-direction: column;
    border:2px solid var(--color-light-blue);
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    overflow:visible;
}
ol.menu.active:before{
    content:'';
    position: absolute;
    opacity: 1;  
    right: 7px;
    top: -7px;
    background: var(--color-light-blue);
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate();
    -moz-transform: rotate();
    -ms-transform: rotate();
    -o-transform: rotate();
    z-index: -1;
}
ol.menu li{
    position: relative;
    padding: 5px 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
ol.menu li:hover{
    background: var(--bg-cyan);
    color:white;
}
ol.menu li i{
    width: 20px;
}
.cuerpo{
    padding: 50px 10%;
    width: 100%;
    height: calc(100vh - 85px);
    background: var(--color-light-grey);

}
.cuerpo h3{
    font-family: var(--font-odibee);
    font-size: 30px;
    color: var(--color-light-blue);
    letter-spacing:2px;
}
.cuadro{
    position: relative;
    width: 97%;
    max-width: 80em;
    height: auto;
    background: white;
    margin: 20px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 15px var(--color-grey);
}
.password{
    width: 13em;
    display: flex;
    margin: 10px;
    align-items: start;
    cursor: pointer;
}
.password:hover .icono{
    background: var(--bg-cyan);
    color:white;
}
.password:hover a{
    color:var(--bg-cyan);
}
.password .icono{
    background: #9cf7f7;
    width: 40px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    margin: auto 10px;
}
.password a{
    text-decoration:none;
    color:var(--color-blue);
    font-size:var(--size-small2);
}
ul{
    list-style:none;
    width: 100%;
}
ul li{ 
    border:0.1px solid var(--color-light-grey);
    padding:15px 20px;
    font-size: var(--size-small);
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.title.dark{
    font-size: var(--size);
    color:var(--color-dark);
    font-weight: bold;
    padding-top: 12px;
}
.dark{
    font-size: var(--size);
    color:var(--color-dark);
    font-weight: bold;
    padding-top: 5px;
}
.link{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: var(--size-small);
    color:var(--bg-cyan);
    cursor:pointer;
}
.link:hover{
    text-decoration: underline;
}
#fondo{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 500;
    place-items: center;
    display: none;
}
#fondo.active{display:grid !important;}
#fondo form{
    width: 30em;
    background: white;
    padding: 40px 50px ;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    display:none;
}
form#cuenta.active{
    display:block !important;
}
form#perfil.active{
    display:block !important;
}
form#password.active{
    display:block !important;
}
form h4{
    font-size:23px;
    font-weight:600;
    color:var(--color-blue)
}
form .content{
    padding: 10px 0;
    display:flex;
    flex-direction:column;
}
form .content .campo{
    padding:  5px 4px;
    margin-top: 2px;
    border:none;
    border-bottom: 1px solid var(--bg-cyan);
}
form .content .campo:focus{
    outline:none;
}
form .button{
    padding: 5px 10px;
    margin: 30px 5px 0;
    float: right;
    border: 1px solid black;
}
form .button:hover{
    color:white;
    background: var(--color);
}
h5.avisito.error{
    color:red;
    font-size: var(--size-small);
    font-weight: normal;
    margin-top: 7px;
}
h5.avisito.ok{
    color:var(--bg-cyan);
    font-size: var(--size-small);
    font-weight: normal;
    margin-top: 7px;
}
