@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
:root{
    --bg-grey: #e5e4e7;
    --color-letter-1: #696767;
    --bg-blue: #001c40;
    --bg-cyan: #3080e9;
    --bg-yellow-hover:#fab005;
    --bg-yellow:#ffbe26;

    --color-lila:#c5249d;
    --color-blue:#192a56;
    --color-light-blue:#273c75;
    --color-light-grey:#f5f6fa;
    --color-grey:#dcdde1;
    --color-ligth-dark:#353b48;
    --color-dark:#2f3640;
    --size:15px;
    --size-small:13px;
    --font-poppins:"Poppins",sans-serif;
    --font-odibee:'Odibee Sans', cursive;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    text-decoration: none;
}
img{
    width: 35px;
    height: 35px;
}
body{
    display:flex;
    width: 200%;
    overflow: hidden;
}
.container{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    transition: all 0.3s;
}
.elegir{  
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    overflow:auto;
}
.elegir.active{
    margin-left:-50%;
}
.elegir .proveedor{
    display: flex;
    gap:7px;
    align-items: center;
}
.elegir .planes{
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.elegir .planes article{
    width: 32%;
    min-width: 14em;
    max-width:17em;
    height: 30vw;
    min-height:18em;
    border: 2px solid var(--bg-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition:all .3s;;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    -ms-transition:all .3s;
    -o-transition:all .3s;
    background: white;
}
.elegir .planes article:hover{
    transform:scale(1.04);
    -webkit-transform:scale(1.04);
    -moz-transform:scale(1.04);
    -ms-transform:scale(1.04);
    -o-transform:scale(1.04);
}
.elegir .planes article p{
    color:var(--color-blue);
    font-size:var(--size);
}
.elegir .planes article h1{
    color:var(--color-lila);
    font-size: 35px;
}
.elegir .planes article button{
    border:1px solid var(--color-blue);
    background: var(--bg-yellow);
    color:var(--color-blue);
    padding: 5px 10px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    cursor:pointer;
    font-size:var(--size);
}
.suscribirse{
    position: relative;
    background: none;
    text-align:center; 
    padding: 20px 40px;    
}
.suscribirse .volver{
    position: absolute;
    right: 5px;
    top:2px ;
    font-size: var(--size-small);
    font-weight: bold;
    color:var(--bg-yellow-hover);
    cursor:pointer;
}
.suscribirse form h3{
    color:var(--color-lila);
    letter-spacing:2px;
    font-size:30px;
}
.suscribirse .campos{
    width: 100%;
    display: grid;
    grid-template-areas: "servicio plan"
                         "precio precio"
                         "tarjeta tarjeta"
                         "aviso aviso"
                         "submit submit";
    grid-gap:10px;
    place-items: center;
}
.suscribirse .campos .servicio{
    grid-area: servicio;
}
.suscribirse .campos .plan{
    grid-area: plan;
}
.suscribirse .campos .precio{
    grid-area: precio;
    width: 60%;
    border:2px solid var(--bg-yellow);
}
.suscribirse .campos .tarjeta{
    grid-area: tarjeta;
    width: 90%;
}
fieldset{
    width: 98%;
    padding: 5px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    border:2px solid var(--color-light-blue);
    display:grid;
    place-items: center;
    background: white;
}
fieldset legend{
    font-size: var(--size);
    letter-spacing:2px;
    font-weight:bold;
}
fieldset .campo{
    border:none;
    padding: 0 10px;
    background: transparent;
    width: 100%;
    font-size: 17px;
    color:var(--bg-cyan);
    text-align: center;
}
fieldset .campo:focus{
    outline:none;
}
#aviso{
    grid-area: aviso;
    font-size: var(--size-small);
    font-weight: normal;
    margin-top: 3px;
    color:red;
}
#aviso.ok{
    color:var(--bg-cyan);
}
.submit{
    width: 60%;
    grid-area: submit;
    border:2px solid var(--color-blue);
    background: var(--bg-yellow);
    padding: 10px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    cursor:pointer;
    font-size:var(--size);
    font-weight:bold;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.submit:hover{
    background: var(--bg-yellow-hover);
    letter-spacing:2px;
}
@media screen and (max-width:660px){
    .elegir .planes article{
        width: 22%;
        min-width: 10em;
        height: 23vw;
        min-height: 12em;
    }
    .elegir .planes article p{
        font-size:var(--size-small);
    }
    .elegir .planes article h1{
        font-size: 19px;
    }
    .elegir .planes article button{
        font-size:var(--size-small);
    }
    .suscribirse .campos{
        display: flex;
        flex-direction: column;        
    }
    fieldset,.campo,.tarjeta{
        width: 100% !important;
        font-size: var(--size-small) !important;
    }
    .submit{
        font-size: var(--size-small) !important;
        padding: 5px;
    }
    .suscribirse form h3{
        font-size:var(--size);
    }
} 