@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Righteous&display=swap');
*{
   margin: 0; 
   padding:0;
}
.head
{
    position:relative;
    width:100%;
    height: 90px;
    z-index: 100;
    background-image: linear-gradient(rgb(17, 33, 231), rgb(66, 84, 101));
    margin: 0;
}
.logo{
    position:relative;
    padding:1em 10%;
    width:17em;
}
.head .logo img{
    position:relative;
    width:60px;
    height:60px;
}
.head .logo label
{
    position:relative;
    color: #ffffff;
    font-family: 'Righteous', cursive;
    font-size: 3em; 
    float:right;
}
.botones{
    position:relative;
    padding-right:10%;
    width:20em;
    height:3em;
    top:-4em;
    float:right;
    display:flex;
 
    /* float:right; */
}
.botones ul{position:absolute;}
.botones ul li 
{
    list-style:none;
    float:left;
    margin:0 1em;
    position: relative; 
}
.botones a{
    font-family: 'Varela Round', sans-serif;
    font-size:15px;
    text-decoration: none;
    padding:10px;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    transition:all 0.3s ;
    -webkit-transition:all 0.3s ;
    -moz-transition:all 0.3s ;
    -ms-transition:all 0.3s ;
    -o-transition:all 0.3s ;
}
.boton1{
    background-color:#29e9a9;
    color:black;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
}
.boton2{
    background-color:#ffff;
    color:black;
    transform:scale(0.9);
}
.boton1:hover{
    background-color:#26cc95;
    color:black;
}
.boton2:hover{
    background-color:#d4d3d3;
    color:black;
}
/*FROMULARIO INCIO DE SESION*/
.form_regis{
    overflow: hidden;
    position:relative;
    display:flex;
    top:-3em;
    width:60%;
    height: 35em;
    max-height: 35em;
    /* top:50%;
    left:50%;
    transform:translate(-50%,-50%); */
    background-color:white;
    border-radius:10px;
}
.form_regis .datos{
    position:relative;
    margin:0 1em;
    display:flex;
    width:30em;
    height:35em;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.datos h1{margin-bottom:30px;
    font-size:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color:#030586}
.datos h2{
    font-size:15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color:#030586}
.datos label{
    position: relative;
}
h4{
    color:red;
    font-family: "Arial",sans-serif;
    font-size:12px;
}
.datos input[type="submit"]{
    border:none;
    border-radius:15px;
    cursor:pointer;
    margin:1.5em;
    font-family: 'Righteous', cursive;
    font-size:15px;
    width:21em;
    height:40px;
    color:white;
    background-color:#2712e4;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.datos input[type="submit"]:hover{
    color:white;
    background-color:#120a55;
}
.datos input[type="text"],[type="password"],[type="email"]
{
    position:relative;
    height: 50px;
    width: 20em;
    outline:none; 
    padding:0 10px;
    font-family: 'Poppins', cursive;
    left:1em;
    -webkit-appearance: none;
    border:none;
    border-radius: 5px;
    background:transparent;
}
.icon-is-left{
    color:grey;
}
.datos .en{
    position: relative;
    margin:10px;
    width: 20em;
    height:3em;
    /* margin:4px; */
    padding-left:10px;
    border-radius:4px;
    background-color:#e0e0dd;
}


.a a{
    font-family: 'Righteous', cursive;
    font-size: 13px;
    text-decoration: none;
}
.img{
    overflow: hidden;
    height:35em;
    width:60%;
    text-overflow: clip;
}
.img img{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    display:flex;
    top: -4em;
    flex-direction: column;
    justify-content:center;align-items:center;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/fondo.jpg) no-repeat;
    overflow: hidden;
}