@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Righteous&display=swap');
*{
   margin: 0; 
   padding:0;
}
.head
{
    position:relative;
    width:100%;
    height: 90px;
    background-image: linear-gradient(rgb(17, 33, 231), rgb(66, 84, 101));
    margin: 0;
}
.logo{
    position:relative;
    padding:1em 10%;
    width:17em;
}
.head .logo img{
    position:relative;
    width:60px;
    height:60px;
}
.head .logo label
{
    position:relative;
    color: #ffffff;
    font-family: 'Righteous', cursive;
    font-size: 3em; 
    float:right;
}
.botones{
    position:relative;
    padding-right:10%;
    width:20em;
    height:3em;
    top:-4em;
    float:right;
    display:flex;
 
    /* float:right; */
}
.botones ul{position:absolute;}
.botones ul li 
{
    list-style:none;
    float:left;
    margin:0 1em;
    position: relative; 
}
.botones a{
    font-family: 'Varela Round', sans-serif;
    font-size:15px;
    text-decoration: none;
    padding:10px;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -ms-border-radius:6px;
    -o-border-radius:6px;
    transition:all 0.3s ;
    -webkit-transition:all 0.3s ;
    -moz-transition:all 0.3s ;
    -ms-transition:all 0.3s ;
    -o-transition:all 0.3s ;
}
.boton1{
    background-color:#29e9a9;
    color:black;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    -o-transform:scale(0.9);
}
.boton2{
    background-color:#ffff;
    color:black;
    transform:scale(0.9);
}
.boton1:hover{
    background-color:#26cc95;
    color:black;
}
.boton2:hover{
    background-color:#d4d3d3;
    color:black;
}
/*FROMULARIO INCIO DE SESION*/
.form_sesion{
    overflow: hidden;
    position:relative;
    display:flex;
    width:70%;
    height: 70%;
    max-height: 35em;
    /* min-height:25em; */
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    background-color:#313030;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.form_sesion .datos{
    position:relative;
    /* top:4em; */
    margin:auto 1em;
    display:flex;
    min-width: 25em;
    width:40%;
    height:35em;
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
}
.en h4{
    position:relative;
    z-index:100;
    margin:0;
    color:#ff0000;
    font-size:11px;
    font-family: 'Righteous', cursive;
}
.datos h1{margin-bottom:30px;
    font-size:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color:#e4e4ee}
.datos h2{
    font-size:15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color:#e3e3e9}
.datos label{
    position: relative;
}
.datos input[type="submit"]{
    border:none;
    border-radius:15px;
    cursor:pointer;
    margin:1.5em;
    font-family: 'Righteous', cursive;
    font-size:15px;
    width:21em;
    height:40px;
    color:white;
    background-color:#2712e4;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}
.datos input[type="submit"]:hover{
    color:white;
    background-color:#120a55;
}
.datos input[type="text"],[type="password"]
{
    position:relative;
    color:#b6afaf;
    height: 35px;
    width: 20em;
    outline:none; 
    padding:0 10px; 
    font-family: 'Righteous', cursive;
    left:1em;
    -webkit-appearance: none;
    border:none;
    border-radius: 5px;
    background:transparent;
}
.icon-is-left{
    color:grey;
}
.datos .en{
    position: relative;
    margin:10px;
}

.datos .en_usuario{
    width: 20em;
    height:3em;
    margin:4px;
    display:flex;
    align-items: center;
    padding-left:10px;
    border-radius:4px;
    background-color:#474745;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.datos .en_contraseña{
    width: 20em;
    height:3em;
    display:flex;
    align-items: center;
    margin:4px;
    padding-left:10px;
    border-radius:4px;
    background-color:#474745;
}

.a a{
    font-family: 'Righteous', cursive;
    font-size: 13px;
    text-decoration: none;
    color: #c5bebe;
}
.img{
    position:relative;
    background-image: url(../img/img_ini.jpg);
    width:60%;
    overflow: hidden; 
    height:100%;
    text-overflow: clip;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/fondo.jpg) no-repeat;
    background-size:cover;
    background-attachment: fixed; 
    overflow: hidden;
}
section .wave{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:url(../img/wave.png);
    background-size: 1000px 100px;
}
section .wave.wave1{
    animation:animate 10s linear infinite;
    -webkit-animation:animate 10s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2{
    animation:animate2 5s linear infinite;
    -webkit-animation:animate2 5s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3{
    animation:animate 10s linear infinite;
    -webkit-animation:animate 10s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4{
    animation:animate2 5s linear infinite;
    -webkit-animation:animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:1000px;
    }
    
}
@keyframes animate2 {
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:-1000px;
    }
    
}