@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    color:white;
    font-family: "Century Gothic",Arial;
    font-weight: bold;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.5);;
}
fieldset{
    display:flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto; min-height:30em;
    margin:1em;
    padding:1em;
    border-radius:10px;
}
h1{   
    font-size:30px;display:block;
}
fieldset h2{
    color:#c5bfbf;
    font-size:20px;
    font-family: 'Righteous', cursive;
    position:relative;
    left:35%;
    margin:1em 1em 0 1em;
}
legend{
    color:white;
    font-size:30px;
    font-family: 'Righteous', cursive;
}
table{
    border: 1px solid rgb(179, 171, 171);
    background-color:white;
    text-align: center;
    width:100%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
table th{
    background-color:#22095a;
    color:white;
    padding:15px 0;
}
tr{    transition: all 0.4s;}
table td{ color:black;}
tr:nth-child(even){
    background-color:#ddd;
}
tr:hover{background-color:#369681; color:white;}
table td{
    padding:15px 0;
}
.plan-new{
    background-color:grey;
    display:none;
    position:absolute;
    width:20em;
    height:5em;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    gap:10px;
}
.plan-new input,select,option{
    color:black;
    border:none; outline:none;
    border-radius: 10px; height:2em;
}
.plan-new input[type="button"]{
    background-color:rgb(179, 19, 33);
    color:white; padding:0 1em; cursor:pointer; width:3em;
}
.plan-new input[type="submit"]{
    background-color:rgb(12, 105, 82);
    color:white; padding:0 1em; cursor:pointer; width:3em;
}
.botoncitos{gap:5px;
    display:flex; justify-content: center;align-items: center;flex-direction:column;
}
.eliminar{
    display: none;
}
