@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    font-family:"Poppins",sans-serif;
    margin: 0; 
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --bg-grey: #e5e4e7;
    --color-letter-1: #696767;
    --bg-blue: #001c40;
    --bg-yellow-hover:#fab005;
    --bg-yellow:#ffbe26;
}
body{
    width: 100%;
    height: 100vh;
    background: #e5e4e7;
}
.head
{
    position:relative;
    width:100%;
    height: 85px;
    background: white;
    display:flex;
    align-items: center;
    padding:0 10%;
}
.logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.head .logo img{
    position:relative;
    width:55px;
    height:55px;
}
.head .logo label
{
    position:relative;
    color: var(--color-letter-1);
    font-family: 'Odibee Sans', cursive;
    font-size: 3em; 
    font-weight: 500; 
    cursor:pointer;
}
.section-2{
    position:absolute;
    width: 98%;
    height: 40%;
    bottom: 0;
    left: 0;
    background: white;
}
.cuerpo{
    position: relative;
    width: 100%;
    height: calc(100vh - 85px);
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}
.cuerpo .container{
    position: relative;
    height: auto;
    text-align: right;
}
.cuerpo .container h1{
    font-size:2.5em;
    line-height:1.2em;
    color:var(--bg-blue);
    font-weight:900;
}
.cuerpo .container h3{
    font-size:1.5em;
    margin: 10px;
    color:var(--color-letter-1);
}

.cuerpo .container a{
    width: 10em;
    background: var(--bg-yellow);
    border: 1px solid var(--bg-blue);
    border-radius:5px;
    padding: 10px 20px;
    margin: 10px;
    font-weight: bold;
    float:right;
    text-align: center;

}
.cuerpo .container a:hover{
    background: var(--bg-yellow-hover);
}


/* //fondo cookie */
.fondo-cookie{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 20px;
    background: rgba(12, 12, 12, 0.2);
    transition: all 0.5s;  
    opacity: 1; 
    overflow: hidden;
}
.cookie{
    font-family: "Arial", Helvetica, sans-serif;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    width: 17em;
    height: auto;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:13px;
    text-align: center;
    bottom: 70px;
    left: 30px;
}
.cookie img{
    position: absolute;
    width: 6em;
    height: 6em;
    top:-5em;
}
.cookie h2,p{
    color:rgb(71, 64, 64);
}
.botones-cookie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.botones-cookie a{
    width: 10em;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor:pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.botones-cookie .aceptar{
    background: #363434;
    color:white;
    text-decoration: none;
    transition: all 0.5s;
}
.botones-cookie .aceptar:hover{
    background: #1d1b1b;
}
.botones-cookie a.aviso{
    color:rgb(69, 127, 252);
}
@media (max-width:1401px) {
    .container-slider{
        display: none;
    } 
}